  <div class="container">
    <div class="list-students">
     <a ng-class="{'active': selectedStudent.id == student.id}" ng-repeat="student in students" ng-click="details(student.id)">{{student.first_name}} {{student.last_name}}</a>
    </div>
    <div class="student-details">
      <div ng-hide="selectedStudent"> Select a student </div>
      <div ng-show="selectedStudent">
        <h3><span editable-text="selectedStudent.first_name">{{selectedStudent.first_name}}</span> <span editable-text="selectedStudent.last_name">{{selectedStudent.last_name}}</span></h3>
        <p editable-text="selectedStudent.email">Email: {{selectedStudent.email}}</p>
        <p>Phone: <span editable-text="selectedStudent.phone">{{selectedStudent.phone}}</span></p>
        <p>Lives in <span editable-text="selectedStudent.country">{{selectedStudent.country}}</span></p>
      </div>
    </div>
  </div>