/* app css stylesheet */


.list-students, .student-details {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.list-students {
  width: 38%;
  cursor: pointer;
  border-right: 1px solid rgba(69, 90, 100, 0.2);
}

.list-students a {
  display: block;
  line-height: 1.5;
  padding: 24px 10px;
  border-bottom: 1px solid rgba(69, 90, 100, 0.2);
}


.list-students a:last-child {
  border-bottom: 0;
}

.student-details {
  width: 60%;
  padding: 20px;
}

a:hover, .active {
  background: rgb(69, 90, 100);
  color: #fff;
}